<div class="container">
    <button class="btn btn-primary mg-2" [routerLink]="['producto/formulario']">Crear</button>
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Abreviatura</th>
            <th scope="col">Area</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of materias">
            <th scope="row">{{m.id_materia}}</th>
            <td>{{m.nombre}}</td>
            <td>{{m.abreviatura}}</td>
            <td>{{m.area}}</td>
            <td>{{m.descripcion}}</td>
            <td>
                <button class="btn btn-info me-2" [routerLink]="['materia/formulario/', m.id_materia]">Editar</button>
                <button class="btn btn-danger" (click)="deleteMateria(m)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
