<body>
  <div class="wrapper">
    <h1>MATERIAS</h1>
    <div class="content">
      <div class="search-container">
        <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#materiaModal">
          <i class="fa fa-plus"></i> Agregar
        </button>
        <form action="#">
          <input type="text" class="form-control" name="buscar" placeholder="Buscar....." (input)="search($event)">
          <button type="submit" class="btn btn-success" (click)="search($event)">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
      <table class="table custom-table">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">DESCRIPCIÓN</th>
            <th scope="col">ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let materia of materias">
            <td>{{materia.id_materia}}</td>
            <td>{{materia.nombre}}</td>
            <td>{{materia.descripcion}}</td>
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#materiaModal"
                (click)="editMateria(materia)"><i class="far fa-edit"></i></button>
              <button class="btn btn-danger" role="button"><i class="fa fa-trash"></i></button>
            </td>

          </tr>
        </tbody>
      </table>


      <div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        #materiaModalRef>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-black">
              <h5 class="modal-title"><i class="fas fa-graduation-cap"></i> Edición Materia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" name="nombre" [(ngModel)]="materia.nombre"
                    (ngModelChange)="materia.nombre = $event.toUpperCase()" placeholder="Nombre" required>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="descripcion" [(ngModel)]="materia.descripcion"
                    placeholder="Descripción" required>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success" (click)="update()" *ngIf="materia.id_materia"
                    data-dismiss="modal"><i class="fa fa-save"></i>Guardar</button>
                  <button type="submit" class="btn btn-success" (click)="create()" *ngIf="!materia.id_materia"
                    data-dismiss="modal"><i class="fa fa-save"></i>Guardar</button>
                  <button type="button" class="btn2 btn-secondary" data-dismiss="modal"> <i
                      class="fa fa-times-circle"></i>Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</body>