<head>
    <meta charset="UTF-8">
    <title>Matricula</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
</head>

<body>
    <header class="header">
        <h1 class="header__title">Matriculación</h1>
    </header>
    <div class="content">
        <div class="content__inner">
            <div class="container">
                <h2 class="content__title">Datos Personales</h2>
            </div>
            <div class="container2 overflow-hidden">
                <div class="multisteps-form">
                    <div class="row">
                        <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                            <div class="multisteps-form__progress">
                                <button class="multisteps-form__progress-btn js-active" type="button"
                                    title="Representante">Representante</button>
                                <button class="multisteps-form__progress-btn" type="button"
                                    title="Estudiante">Estudiante</button>
                                <button class="multisteps-form__progress-btn" type="button"
                                    title="Order Info">Curso</button>
                                <button class="multisteps-form__progress-btn" type="button" title="Curso"> Detalle
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-8 m-auto">
                            <form class="multisteps-form__form g-2 d-flex justify-content-center">
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active"
                                    data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Datos Representante</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Cédula</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Cédula" name="cedula" maxlength="10"
                                                    [(ngModel)]="representante.cedula"
                                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                    required />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Nombre</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Nombre" id="nombre" name="nombre" maxlength="40"
                                                    [(ngModel)]="representante.nombre"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Segundo Nombre</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Segundo Nombre" name="segundo_nombre" maxlength="40"
                                                    [(ngModel)]="representante.segundo_nombre"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Primer Apellido</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Primer Apellido" name="primer_apellido" maxlength="40"
                                                    [(ngModel)]="representante.primer_apellido"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Segundo Apellido</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Segundo Apellido" name="segundo_apellido"
                                                    maxlength="40" [(ngModel)]="representante.segundo_apellido"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                            <div class="gender-box">
                                                <h3>Género</h3>
                                                <div class="gender-box">
                                                    <select pInputText placeholder="Sexo" type="text"
                                                        [(ngModel)]="representante.genero" id="genero" name="genero"
                                                        required>
                                                        <option value="" disabled selected>Seleccione su género</option>
                                                        <option value="M">Masculino</option>
                                                        <option value="F">Femenino</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Fecha Nacimiento</label>
                                                <input class="multisteps-form__input form-control" type="date"
                                                    placeholder="Fecha Nacimiento" name="fecha_nacimiento"
                                                    [(ngModel)]="representante.fecha_nacimiento" required />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Correo Electrónico</label>
                                                <input class="multisteps-form__input form-control" type="email"
                                                    placeholder="Correo Electrónico" name="correo"
                                                    [(ngModel)]="representante.correo" class={{verfCorreo}}
                                                    (ngModelChange)="validarCorreo()" required />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Dirección</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Dirección" name="direccion" maxlength="80"
                                                    [(ngModel)]="representante.direccion" required
                                                    #direccionInput="ngModel" />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Ocupación</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Ocupación" name="ocupacion" maxlength="30"
                                                    [(ngModel)]="representante.ocupacion"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Teléfono Contacto</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Teléfono Contacto" name="telefonoContacto"
                                                    maxlength="10" [(ngModel)]="representante.telefonoContacto"
                                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                    required />
                                            </div>
                                            <div class="col-12 col-sm-6 ">
                                                <label>Teléfono Contacto 2</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Teléfono Contacto 2" name="telefonoContacto2"
                                                    maxlength="10" [(ngModel)]="representante.telefonoContacto2"
                                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                    required />
                                            </div>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-success ml-auto" type="button"
                                                title="Send">Guardar</button>
                                            <button class="btn btn-primary ml-auto js-btn-next" type="button"
                                                title="Next">Siguiente</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white"
                                    data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Datos Estudiante</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Cédula</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Cédula" name="cedula" maxlength="10"
                                                    [(ngModel)]="estudiante.cedula"
                                                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                                                    required />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Nombre</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Nombre" name="nombre" maxlength="40"
                                                    [(ngModel)]="estudiante.nombre"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Segundo Nombre</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Segundo Nombre" name="segundo_nombre" maxlength="40"
                                                    [(ngModel)]="estudiante.segundo_nombre"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Primer Apellido</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Primer Apellido" name="primer_apellido" maxlength="40"
                                                    [(ngModel)]="estudiante.primer_apellido"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 ">
                                                <label>Segundo Apellido</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Segundo Apellido" name="segundo_apellido"
                                                    maxlength="40" [(ngModel)]="estudiante.segundo_apellido"
                                                    onkeypress='return event.charCode >= 65 && event.charCode <= 90 || event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32'
                                                    required />
                                            </div>
                                            <div class="gender-box">
                                                <h3>Género</h3>
                                                <select pInputText placeholder="Sexo" type="text"
                                                    [(ngModel)]="estudiante.genero" id="genero" name="genero" required>
                                                    <option value="" disabled selected>Seleccione su género</option>
                                                    <option value="M">Masculino</option>
                                                    <option value="F">Femenino</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">

                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Fecha Nacimiento</label>
                                                <input class="multisteps-form__input form-control" type="date"
                                                    placeholder="Fecha Nacimiento" name="fecha_nacimiento"
                                                    [(ngModel)]="estudiante.fecha_nacimiento" required />
                                            </div>


                                            <div class="col-12 col-sm-6 ">
                                                <label>Correo Electrónico</label>
                                                <input class="multisteps-form__input form-control" type="email"
                                                    placeholder="Correo Electrónico" name="correo"
                                                    [(ngModel)]="estudiante.correo" class={{verfCorreo}}
                                                    (ngModelChange)="validarCorreo2()" required />
                                            </div>
                                        </div>
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Dirección</label>
                                                <input class="multisteps-form__input form-control" type="text"
                                                    placeholder="Dirección" name="direccion" maxlength="80"
                                                    [(ngModel)]="estudiante.direccion" required
                                                    #direccionInput="ngModel" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="button-row d-flex mt-4 col-12">
                                                <button class="btn btn-primary js-btn-prev" type="button"
                                                    title="Prev">Atrás</button>
                                                <button class="btn btn-success ml-auto" type="button"
                                                    title="Send">Guardar</button>
                                                <button class="btn btn-primary ml-auto js-btn-next" type="button"
                                                    title="Next">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white"
                                    data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Datos Curso</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <div class="col-12 col-sm-6">
                                                <label>Ciclo</label>
                                                <!-- <input class="multisteps-form__input form-control" type="number"
                                                    placeholder="1,2,3,4,5,6,7" /> -->
                                                <label> Curso</label>
                                                <select id="curso" class="form-control" name="curso">
                                                    <option value="" disabled selected>Selecciona curso</option>
                                                    <option value="PRIMERO">PRIMERO</option>
                                                    <option value="SEGUNDO">SEGUNDO</option>
                                                    <option value="TERCERO">TERCERO</option>
                                                    <option value="CUARTO">CUARTO</option>
                                                    <option value="QUINTO">QUINTO</option>
                                                    <option value="SEXTO">SEXTO</option>
                                                    <option value="SEPTIMO">SEPTIMO</option>
                                                    <option value="OCTAVO">OCTAVO</option>
                                                    <option value="NOVENO">NOVENO</option>
                                                    <option value="DECIMO">DECIMO</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-sm-6 mt-4 mt-sm-0">
                                                <label>Paralelo</label>
                                                <select id="paralelo" class="form-control" name="paralelo">
                                                    <option value="" disabled selected>Selecciona paralelo</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="button-row d-flex mt-4 col-12">
                                                <button class="btn btn-primary js-btn-prev" type="button"
                                                    title="Prev">Atrás</button>
                                                <button class="btn btn-success ml-auto" type="button"
                                                    title="Send">Guardar</button>
                                                <button class="btn btn-primary ml-auto js-btn-next" type="button"
                                                    title="Next">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="multisteps-form__panel shadow p-4 rounded bg-white"
                                    data-animation="scaleIn">
                                    <h3 class="multisteps-form__title">Detalle Matrícula</h3>
                                    <div class="multisteps-form__content">
                                        <div class="form-row mt-4">
                                            <label>Observaciones</label>
                                            <textarea class="multisteps-form__textarea form-control"
                                                placeholder="Observaciones"></textarea>
                                        </div>
                                        <div class="button-row d-flex mt-4">
                                            <button class="btn btn-primary js-btn-prev" type="button"
                                                title="Prev">Atrás</button>
                                            <button class="btn btn-success ml-auto" type="button"
                                                title="ddddd" [routerLink]="['/matricula/ver-matricula']">Ver matricula</button>
                                        </div>
                                    </div>
                                    <button class="btn btn-success ml-auto" type="button" title="xd"
                                        (click)="registrarMatricula()"> Guardar </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="matricula.js"></script>

</body>