<body>
    <div class="wrapper">
        <h1>CURSOS</h1>
        <div class="content">
            <div class="Selected">
                <form action="#">
                    <div class="form-group">
                        <label for="profesor">DOCENTE:</label>
                        <select class="custom-select" id="profesor" name="profesor">
                            <option selected disabled>Seleccione un profesor</option>
                            <option value="PRIMERO">PRIMERO</option>
                            <option value="SEGUNDO">SEGUNDO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="materia">MATERIA:</label>
                        <select class="custom-select" id="materia" name="materia"
                            >
                            <option selected disabled>Seleccione un materia</option>
                            <option value="PRIMERO">PRIMERO</option>
                            <option value="SEGUNDO">SEGUNDO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="curso">CURSO:</label>
                        <select class="custom-select" id="curso" name="curso"
                            >
                            <option selected disabled>Seleccione un curso</option>
                            <option value="PRIMERO">PRIMERO</option>
                            <option value="SEGUNDO">SEGUNDO</option>
                        </select>
                    </div>
                </form>
            </div>
            <table class="table custom-table">
                <thead>
                    <tr>
                        <th scope="col">DOCENTE</th>
                        <th scope="col">MATERIA</th>
                        <th scope="col">CURSO</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#materiaModal">
                                <i class="far fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</body>