/* .content-header {
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: white;
}

.content-header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.breadcrumb {
    margin: 0;
}

.breadcrumb li {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.breadcrumb li:last-child {
    color: #f2f2f2;
}
 */
